/* Our CSS file. */
.container, .content{
    width: 100%;
    

}
.container , .section {
    background:#f2f2f2;
    margin-top: 10px;
    min-height: 300px;
   
}
.centered {
    text-align: center;
    vertical-align: middle;
}
.inline{
    display: inline-block;
    
}
.block{
    display: block;
}
button {

    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
iframe {
    margin: 20px;
    width: 700px;
    height: 300px;
}

